# Ignore backup configs
/backups_config/*

# But not the sample
!/backups_config/sample.conf

# Ignore custom configuration file
/config.sh

# Ignore rsync log
/rsync.log

# Ignore backup debugging log
/backup.log

# Ignore custom automator app for restricted folders backup
/backup.app